body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.fill-space {
	width: 100%;
}

.grey-panel {
	background-color: #555;
}

.fill-height {
	min-height: 100vh;
}

.dim-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.thumb {
	width: 100px;
	min-width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumb img {
	max-height:100%;
	max-width:100%;
}

ul.bikes-list {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

ul.bikes-list li {
	border-bottom: 1px solid white;
	align-items: center;
	cursor: pointer;
}